@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    background-color: #F3E5D8;
    color: #3F2305;
  }
}

.animate-in {
  animation-delay: 0ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-in-from-bottom {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}

.animate-in.fade-in { animation-name: fade-in; }
.animate-in.slide-in-from-bottom-10 { animation-name: slide-in-from-bottom; }

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #80f20d;
}